body{
  margin: 0;
  background-color: rgb(239, 238, 238);
  font-family: Arial;
}
.container{
  width: 928px;
  margin: 0 auto;
  background-color:white;
  display: table;[]
}
header ul li{
  display: inline;
  float: left;
  font-size: 15px;
}
header ul{
  float: right;
  padding: 0;
  display: inline;
  margin-top: 50px;
  padding-right: 40px;
}
header ul li :hover{
  background-color: rgb(181, 32, 37);
  color: white;
}
header img{
  float: left;
  padding: 20px 0 20px 30px;
}
header a{
  text-decoration: none;
  color: black;
  display: table;
  padding: 10px;
}
.slideshow img{
  width: 928px;
  border: 7px solid rgb(181, 32, 37);
  /*box-sizing:border-box;*/
  position: relative;
  left: -7px;
}
.slideshow{
  width: 914px;
  height: 300px;
}
.slideshow figure{
  margin: 0;
}
#trianguloesq{
  background-color: rgb(85, 14, 16);
  width: 7px;
  height: 7px;
  -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%);
  position: relative;
  top: 7px;
  left: -7px;
}
#triangulodir{
  background-color: rgb(85, 14, 16);
  width: 7px;
  height: 7px;
  -webkit-clip-path: polygon(0 0, 0% 100%,100% 100%);
  float: right;
  position: relative;
  right: -21px;
}
.slideshow figcaption{ /*rever*/
  position: relative;
  top: -85px;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);;
  padding: 20px 7px;
  margin: 0 auto;
  width: 914px;
}
.box{
  width: 279px;
  float: left;
  margin-right:20px;
  text-align: justify;
  margin-bottom: 20px;
}
.fundo-box{
  border-radius: 0 0 10px 10px;
  background: linear-gradient(#fff, rgb(238,238,238));
  height: 25px;
}
.box img{
  display: inline;
}
.box h3{
  color: rgb(181, 32, 37);
  position: relative;
  right: -65px;
  top: 50px;
}
.box p, .box h4, .box figcaption{
  font-size: 13px;
}
.segimg{
  width: inherit;
  border: 3px solid rgb(220, 220, 220);
  padding: 3px;
  box-sizing: border-box;
}
.box:first-child{
  margin-left: 20px;
}
.artigos{
  margin: 0 auto;
}
.box figure{
  margin:0;
  position: relative;
}
.box figure img{
  display: inline;
  float: left;
}
/*.container,.slideshow,main.box{
  border: 1px solid black;
}*/
.box figcaption{
  color: rgb(167, 167, 167);
  float: left;
  margin-top: 35px;
}
.box button{
  background-color: rgb(238,238,238);
  border: none;
  border-radius: 30%;
  float: right;
}
.box button a{
  color: rgb(185, 184, 184);
  text-decoration: none;
  text-transform: lowercase;
  font-size: 13px;
}
.latest img{
  border:  border: 3px solid rgb(220, 220, 220);
  padding: 3px;
  margin-right: 5px;
}
.latest{
  margin-left: 20px;
  float: left;
  margin: 10px 10px 10px 20px;
}
.latest h3, .newsletter h3{
  color: rgb(181, 32, 37);
}
.newsletter{
  float: left;
  width: 279px;
  margin: 10px 0 10px 0;
}
.newsletter p{
  font-size: 13px;
}
.newsletter input[type="text"]{
  background-color: rgb(253, 234, 235);
  border: 1px solid rgb(226, 199, 200);
  width: 200px;
  height: 25px;
}
.newsletter input[type="submit"]{
  border: none;
  color: white;
  background-color: rgb(181, 32, 37);
  height: 25px;
}
.footer p{
  display: inline;
  float: left;
}
.footer li{
  display: inline;
  float: left;
  margin-right: 7px;
}
.footer ul{
  list-style: none;
  float: right;
}
.footer a{
  text-decoration: none;
  color: black;
}
.footer p, .footer a{
  font-size: 13px;
}
.footer p:first-child{
  border-right: 1px outset rgb(237, 242, 247);
  padding-right: 2px;
  margin-right: 2px;
}
footer{
  border-top: 3px solid rgb(237, 242, 247);
}














/*main{
  padding-top: 40px;
  display: table;
}
figure img{
  width: inherit;
  height:270px;
}
figcaption{
  position: relative;
  top: -40px;
  z-index: 1;
  width: 1100px;
  color: white;
  background-color: black;
  opacity: 0.7;
}
