
#itens-compra{
	margin:30px 180px;
	display: table;
}

.item {
	border:#F9F9F9 solid 1px;
	padding:2px;
	background-color:#fff;
	float:left;
	margin: 15px 10px;
}

.item p a{
	text-decoration:none;
	color:black;
}

.item-compra {
	background-color:#FAFAFA;
	padding: 15px 25px;
	height:133px;
	width:110x;
}
.item-compra p {
	margin:10px 0 0 0;
	font-size:0.7em;
	text-align: center;
}

.item-compra-figura {
				font-size:15pt;
				border-radius: 50%;
				width: 70px;
				height:70px;
				padding: 25px;
			}

			h1{
			padding:40px;;
			}
			nav{
				position:relative;
				right: ;
			}
			nav ul li{
			padding: 10px;
			}

.texto-imagem {
	width: calc(100%);
	position: relative;
	padding:0;
}

.texto-imagem img{
	width: 100%;
}
.texto-imagem h1{
	width: inherit;
	margin: 10px 0;
}
.texto-imagem p{
	margin: 10px 0;
}

.texto{
	position: absolute;
	top: 85px;
	z-index: 2;
	float:left;
	display:table;
	width:inherit;		
}

						
.fundo-destaque {
	background-color:rgb(243,197,0);
	padding:5px ;
}
			
.faixa-verde{
	margin-top:100px;
	height:200px;
	width:100%;
	float:left;
	background-color:rgb(89,194,175);
	display:table;
}
.texto-app{
	float:left;
	width:53%;
	position:relative;
	top:20px;
	margin:45px;
}
.celular{
	height:250px;
	width:200px;
	float:left;
	top:20px;
	margin:40px 40px 0 30px;
}
.texto-app p {
	width: 400px;
}
.app-google, .app-apple{
	width:100px;
}
.texto-e-imagem{
	margin:10px 20px;
}
footer{
	display:table;
}

.menu-inferior {
	float:left;
	margin-left:180px;
	position: relative;
	top:-100px;
	display: table;
}
		
.linha-verde{
	color:rgb(89,194,175);
}
			
			
			.mini-bolinhas-texto {
			display:table;
			}
			.glyphicon
			{
				color:white;
			}
			.bolinha-pequena{
			border-radius:50%;
			background-color:rgb(89,194,175);
			width:20px;
			height:20px;
			display:inline;
			float:left;
			padding:2px 3px;
			}
			.mini-bolinhas p{
			float:right;
			padding: 5px;
			width:6px;
			}
			.gifs{
			float:left;
			margin-left:5px;
			}
			.item-bolinha{
			clear:left;
			}
			
			.faixa-cinza{
			margin-left:120px;
			height:80px;
			width:1030px;
			background-color: rgb(60,61,65);
			}
			
			footer h2{
			text-align:center;
			font-family:Source Sans Pro;
			}
			
			footer {
			text-align:center;
			
			}
			footer p{
			color:rgb(151,151,151);
			padding:10px;
			font-family:Source Sans Pro;
			}


.primeira-bolinha {
	background-color:rgb(221,9,8);
}
.segunda-bolinha {
	background-color:rgb(255,158,41);
}
.terceira-bolinha {
	background-color: rgb(63,183,210);
}
.quarta-bolinha {
	background-color: rgb(21,192,28);
}
.quinta-bolinha {
	background-color:rgb(126,59,7);
}
.sexta-bolinha {
	background-color:rgb(25,99,206) ;
}
.setima-bolinha {
	background-color:rgb(193,25,206);
}
.oitava-bolinha {
	background-color:rgb(127,186,216) ;
}
.nona-bolinha {
	background-color: rgb(28,163,157);
}
.decima-bolinha {
	background-color: rgb(244,158,207);
}
.decima-primeira-bolinha {
	background-color:rgb(7,12,31) ;
}
.decima-segunda-bolinha {
	background-color:rgb(223,128,18) ;
}
